@using MMS.web.Areas.Admin.ViewModels.Input
@model TransportationModel
@{
    ViewData["Title"] = "Transportation detail";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
                @*<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>*@
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                @Html.Hidden("hdnLocations", (object)ViewBag.lstLocations)
                @Html.Hidden("hdnCommodities", (object)ViewBag.lstCommodities)

                <!-- /.card-header -->
                @using (Html.BeginForm("detail", "transportation", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="card-body">
                        <p><h3 class="text-green">@ViewBag.Message</h3></p>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="LocationId" class="requiredLabel">Location Name</label>

                                    @Html.DropDownListFor(m => m.LocationId, (SelectList)ViewBag.lstLocations, "---  Select Location ---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.LocationId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="CommodityId" class="requiredLabel">Commodity Name</label>
                                    @Html.DropDownListFor(m => m.CommodityId, (SelectList)ViewBag.lstCommodities, "---  Select Commodity ---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.CommodityId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="Notes" class="requiredLabel">Notes</label>
                                    @Html.TextAreaFor(c => c.Notes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Notes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="reset" class="btn btn-danger">Clear</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<noscript>
<style>
    .requiredLabel:after {
    content: " *";
    font-weight: bold;
    color: red;
}
</style>
</noscript>
<script>
    var locationsInfo = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.lstLocations))');
    var commoditiesInfo = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.lstCommodities))');

    $("#LocationId").change(function () {
        if (this.value.length > 0) {
            $.get('/Admin/Transportation/GetCommodityByLocation?locationId=' + this.value, function (data) {
                if (data != null && data.length > 0) {
                    var $select = $('#CommodityId');
                    $.each(data, function (i, state) {
                        $('<option>', {
                            value: state.value
                        }).html(state.text).appendTo($select);
                    });
                }
            });
        }
        else {
            $("#CommodityId").empty();
            $("#CommodityId").append('<option value="">---  Select Commodity ---</option>');
            var $select = $('#CommodityId');
            $.each(commoditiesInfo, function (i, state) {
                $('<option>', {
                    value: state.value
                }).html(state.text).appendTo($select);
            });
        }
    })
</script>
