@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    var aa = ViewContext.RouteData.Values["Controller"].ToString().ToLower() + "-" + ViewContext.RouteData.Values["Action"].ToString().ToLower();
    string ss = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
}

<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="~/admin/home/index" class="brand-link brand-logo">
        @*<img src="~/images/main-logo.png" class="brand-image  " >*@
        <p>MetalX Online</p>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item" @(ViewBag.IsTransportation ? "style=display:block" : "style=display:none")>
                    <a href="~/admin/Order/Index" class="nav-link @(ss =="order" ? "active":"")">
                        <i class="nav-icon fas fa-code-branch"></i>
                        <p>
                            Orders
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/admin/home/index" class="nav-link @(ss =="transection" || ss == "home" ? "active":"")">
                        <i class="nav-icon fas fa-code-branch"></i>
                        <p>
                            Transactions
                        </p>
                    </a>
                </li>

                <li class="nav-item" @(ViewBag.IsTransportation ? "style=display:block" : "style=display:none")>
                    <a href="~/admin/transportation/detail" class="nav-link @(ss =="transportation" ? "active":"")">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Transportation
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/admin/representative/index" class="nav-link @(ss =="representative" ? "active":"")">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Representative
                        </p>
                    </a>
                </li>
                @*<li class="nav-item">
            <a href="~/admin/auditlog" class="nav-link @(ss =="auditlog" ? "active":"")">
                <i class="nav-icon fas fa-history"></i>
                <p>
                    Audit Logs
                </p>
            </a>
        </li>*@
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
